@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}
/* header */
/* nav bar */
header {
  height: 500px;
  background-color: #3400ff;
}

nav {
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.nav-item {
  margin-right: 20px;
  color: white;
  margin-top: 10px;
}

.nav-item-active {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  font-weight: 400;
  margin-right: 20px;
}
/* /nav bar end */
.logo {
  margin: 40px;
}

.header-text {
  color: white;
  margin-left: 60px;
  margin-top: 50px;
  float: left;
  font-size: medium;
}

.header-image {
  float: right;
}
/* header end  */

/* companies */
.companies {
  margin-top: 20px;
  margin-left: 20px;
}

.company-items {
  text-decoration: none;
  margin-left: 30px;
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Righteous", cursive;
}
/* companies end  */

/* API section */
.api {
  padding-top: 100px;
}
.api-heading {
  position: relative;
  left: 40px;
  top: 10px;
  font-weight: 900;
  font-size: 35px;
}
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}
.arrow {
  background-color: #4617fe;
  color: #ffffff;
  font-size: 20px;
  align-self: center;
  padding: 10px 20px;

  border: black solid 1px;
  border-radius: 30px;
}

.card:hover {
  box-shadow: 1px 1px 2px #242b2e;
  border-radius: 10px;
}

.card-active:hover {
  box-shadow: 1px 1px 2px #242b2e;
  border-radius: 10px;
}
/* API section end */

/* blog */
.blog-start {
  padding-top: 100px;
}

.see-all {
  margin: 0 50px;
  position: relative;
  bottom: 40px;
  float: right;
  color: #4617fe;
  font-weight: 600;
}
.blog-heading {
  margin: 20px 50px;
}
.blog-cards {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}
.blog-card {
  display: flex;
  padding-right: 40px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px #242b2e;
}
.blog-image {
  margin-bottom: -7px;
}
.blog-content {
  padding-left: 20px;
}

.blog-bottoms {
  display: flex;
  justify-content: space-evenly;
  margin-top: -70px;
  gap: 100px;
}
.blog-bottom-2 {
  position: relative;
  left: 200px;
}
/* blog end  */

/* faq section  */

.faq-section {
  display: flex;
  justify-content: space-between;
  background-color: #e9edff;
  margin-top: 50px;
}

.faq-content {
  padding: 70px 0 0 50px;
}

.faq-content h2 {
  font-size: 40px;
  font-weight: 900;
  margin-top: -50px;
}

.faq-content h4 {
  font-size: 15px;
  font-weight: 400;
}
.faq-image {
  margin-top: -50px;
  margin-bottom: -10px;
}

.faq-content h3 {
  font-weight: 900;
  margin: 20px 0;
}

.faq-content button {
  border: none;
  border-radius: 5px;
  background-color: #5a31fc;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 25px;
}

.faq-image img {
  padding-top: 50px;

}

/* Download Section */

.download-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 70px 0;
}

.download-content h1 {
  font-weight: bolder;
}

.download-content h1 > span {
  font-weight: 400;
}

/* .download-email form {
  display: flex;
} */

.download-email form input {
  border: none;
  background-color: #e9edff;
  width: 360px;
  padding: 10px 10px;
  border-radius: 20px 0 0 20px;
}

.download-email form button {
  border: none;
  background-color: #5a31fc;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
  position: relative;
  right: 15px;
}

/* Footer section */

.footer-section {
  background-color: #4718fe;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 20px;
}
.list li {
  color: #ffffff;
}

.list-items::after {
  content: "|";
  position: relative;
  left: 14px;
}
.footer-logos{
  margin-right: 10px;
}
.logos-list {
  display: flex;
  margin-top: 25px;
  gap: 30px;
  list-style: none;
  color: #ffffff;
}
 @media screen and ( max-width:800px){


p{
   font-size:20px ;
}
h1{
  font-size: 25px;
}
.nav-item , .nav-item-active{
display:none;
}
.header-image {
  display: none;
}
.main{
  flex-wrap: wrap;
}
.cards{
  display:flex;
flex-direction: column;
justify-items: flex-start;

}
.blog-cards{display: flex;
flex-direction: column;
gap:10px;
/* flex-wrap: wrap; */

}
.blog-image{
  display: none;
}
.blog-author{
  display: none;
}
.blog-card-bottom-image{
  display: none;
}
.faq-image{
  display:none;
}
.logos-list .list-item{
  display: flex;
  flex-direction: column;

}
.download-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-section{
  display: flex;
flex-direction: column;
justify-items: center;
align-items: center;

gap: 30px;
 }
.list, .logos-list{
  display: none;
}


 }
